.after-submit {
    visibility: hidden;
}
div#ms_contact_us > div:first-child {
    visibility: hidden;
}
#list{
    width: 33%;
    margin: auto;
    margin-top: 10px;
}
#ms_contact_us{
    font-size: 20px;
}

#ms_contact_us_reason, input[type="text"]
{
    font-size:20px;
}

#ms_contact_us_submit{
    background-color: #4CAF50; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-size:20px
}
#ms_contact_us_submit:hover{
    background-color: #55AF15;  
}

.col-md-auto{
    margin-top:15px;
    background-color:#CACACA;
    position: absolute;
    width: 33%;
    
}

.after-submit{
    position: relative;
    top: 100px;
}

