{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        p{
            font-size: 16px !important;
        }

       th, td{
         font-size: 20px;  
       }

        .pagination {
            display: inline-block;
            font-size: 26px;
            margin-left: 40%;
        }

        .pagination a, .current{
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        .pagination span.current {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.current) {background-color: #ddd;}

    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="count">
        <h3>Total Records: {{ pagination.getTotalItemCount }}</h3>
    </div>
    <table class="table table-bordered ">
        {% for record in pagination %}
            <tr>
                <th>Date:</th>
                <td>{{ record.dateCreated|date('m/d/Y h:i:s a') }}</td>
            </tr>
            <tr>
                <th>Reason:</th>
                <td>{{ record.reason }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ record.name }}</td>
            </tr>

            <tr>
                <th>MockName:</th>
                <td>{{ record.mockname }}</td>
            </tr>

            <tr>
                <th>Email:</th>
                <td>{{ record.email }}</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{ record.phone }}</td>
            </tr>
            <tr>
                <th>Message:</th>
                <td>{{ record.message }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}